<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 开启自动扫描 -->
	<context:component-scan base-package="com.sx">
	</context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
		<!-- 配置文件解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000000"></property>
		<property name="maxInMemorySize" value="4096"/>
	</bean>
	
	<!-- 配置文件解析器 -->
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="10000000000"></property>
	<property name="maxInMemorySize" value="4096"/> 
	</bean>-->
	<!-- 自定义异常处理器 -->
	<bean id="myHandleExceptionResolver" class="com.sx.myException.UserExceptionResolver"></bean>
	<!-- 视图解析器 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--配置试图名的前缀 -->
		<property name="prefix" value="/pages/" />
		<!--配置试图名的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
</beans> 